:root {
    --primary-color: #80ffdb;
    --secondary-color: #55e0a3;
    --background-color: #5b70f3;
    --darker-backround-color: #4850b9;
}

* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#header-container {
    padding: 50px 0px;
    display: grid;
    justify-content: center;
    /* border: 1px solid red; */
    gap: 10px;
    font-size: 30px;
}

#city-input-container {
    display: grid;
    justify-content: center;
}

#city-input {
    height: 50px;
    width: 400px;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    background-color: lightgray;
    grid-row: 2 / 3;
    justify-self: end;
    margin: 0px 5px;
}

#get-forecast-button {
    height: 50px;
    width: 100px;
    grid-row: 2 / 3;
    margin: 0px 5px;
}

#container {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
}

#weekly-forecast-container {
    display: grid;
    justify-items: center;
    grid-template: 1fr 1fr 1fr / 1fr;
    grid-column: 1 / 2;
    gap: 10px;
    /* border: 1px solid red; */
}

#weekly-forecast-container > * {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr / 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    /* border: 1px solid red; */
    border-radius: 10px;
    width: 500px;
}

#weather-data-container {
    display: grid;
    grid-column: 2 / 3;
    grid-template: 50px 50px 75px 150px 100px 1fr 1fr 1fr/ 1fr;
}

#weather-data-container > *{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#country-city-name-container {
    padding-bottom: 15px;
    font-size: 40px;
    grid-row: 1 / 2;
    /* border: 1px solid red; */
}

#local-time-container {
    height: 10px;
    font-size: 20px;
    padding-top: 10px;
    grid-row: 2 / 3;
    /* border: 1px solid red; */
}

#weather-condition-container {
    font-size: 40px;
    grid-row: 3 / 4;
}

#weather-condition-icon-temperature-container {
    grid-row: 4 / 5;
    padding-left: 150px;
    padding-top: 75px;
}

#weather-condition-icon-img {
    height: 250px;
    width: 250px;
    align-self: center;
}

#current-temperature-container {
    font-size: 60px;
}

#additional-weather-info-container {
    padding-top: 50px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    grid-row: 5 / 6;
    justify-items: center;
}

#feels-like-container {
    font-size: 20px;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

#wind-direction-mph-container {
    padding-top: 10px;
    font-size: 20px;
    grid-row: 2 / 3;
    grid-column: 1 / 4;
}

#forecast-container {
    display: grid;
    grid-auto-flow: column;
    grid-column: repeat(autofill, minmax(100px, 1fr));
    margin-top: 20px;
    grid-row: 6 / 7;
    grid-column: 1 / 4;
    height: 250px;
    width: 98vw;
    /* border: 1px solid red; */
    overflow-x: auto;
}

#secondary-weather-data-container {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    grid-column: 3 / 4;
    gap: 10px;
    justify-items: center;
    align-content: center;
}

#secondary-weather-data-container > * {
    display: grid;
    grid-template: 2fr 1fr / 1fr;
    justify-items: center;
    /* border: 1px solid red; */
    border-radius: 10px;
    height: 100px;
    width: 130px;
}

.hour-container {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 150px;
    height: 225px;
    border: 1px solid red;
    border-radius: 10px;
    margin: 10px;
}